.navbar {
  height: 64px;
  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #e5e7eb;
}

.brand {
  font-size: 20px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  color: #6b7280;
}

.nav-links a:hover,
.nav-links a.active {
  color: #111827;
}